.idea
/localutilities/splank.xml
/localutilities/splanr.xml
/localutilities/showsession.php
/build/

# for template see: /backend/db/conf/dbconf_template.php
backend/db/conf/dbconf.php
.htpasswd
.local