/*
General Stylesheet for /project/*

GyKl - Color - Palette:

    @HEADER-BACKGROUND: #f2f4e4

    @LINK: #797979
    @LINK-LI-BORDER-BOTTOM: 1px dotted #ccc
    @LINK-HOVER: #526709
    @LINK-ACTIVE: #526709
    @TITLE-COLOR: #9ba21b

Custom Material Palette:
    Dark Primary: #689F38
    Primary: #8BC34A
    Light Primary: #DCEDC8

    Accent Color: #607D8B

    Primary Text: #212121
    Text/Icons: #212121
    Secondary Text: #757575
    Divider Color: #BDBDBD
*/

html, body {
    font-family: Verdana, sans-serif;
    color: #212121;
    margin: 0 auto;
    padding: 0;
}

.center{
    text-align: center;
}
.contentcenter{
    margin: 0 auto;
}
.autopadding{padding: 1px; padding-bottom: 16px;}

#content{
    width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: #212121;
}
a:active{
    text-decoration: none;
    color: #212121;
}
a:focus{
    text-decoration: none;
    color: #212121;
}
a:hover{
    cursor: pointer;
    text-decoration: underline;
}